@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");
* { /* es el reseto para borrar los margenes del html*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*es el porcentaje del tamaÃ±o que establecio el user en el navegador*/
  /*font-size: 10px que corresponde al 10% del tamaÃ±o de la fuente del html*/
}

/*El mapa lo use en _maingaleria*/
/*El mixin está agregado en _footer.scss (.container) */
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(46, 22, 3);
}

.header {
  position: relative;
}
.header .navegacion {
  font-size: 2rem;
}
.header .navegacion .colorBurguer {
  border-color: white !important;
  border: 2px solid white !important;
  background-color: white;
}
.header .navegacion .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 20px;
}
.header .navegacion .navbar-nav .nav-item .nav-link:hover {
  color: gray;
}
.header .cajaTitulo {
  width: 40%;
  color: white;
  text-align: center;
  margin-left: 12.5%;
  margin-top: 10%;
  font-size: 3rem;
  /*backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);*/
}
.header .reserva {
  position: absolute;
  top: 200px;
  right: 100px;
  background-color: rgba(255, 255, 255, 0.388);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 130px;
  border-radius: 50%;
  padding: 10px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.header .reserva .parrafoReserva {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .header .reserva {
    top: auto;
    right: 10px;
    left: auto;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.header__img__index, .header__img__tienda, .header__img__servicios, .header__img__contacto, .header__img__galeria {
  background-image: url(../assets/img/Index.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  .header__img__index, .header__img__tienda, .header__img__servicios, .header__img__contacto, .header__img__galeria {
    background-image: url(../assets/img/IndexMQ.jpg);
    height: 100vh;
  }
}

.header__img__galeria {
  background-image: url(../assets/img/Header\ Galeria.jpg);
}

.header__img__contacto {
  background-image: url(../assets/img/Header\ Contactojpg.jpg);
}

.header__img__servicios {
  background-image: url(../assets/img/Header\ Servicios.jpg);
}

.header__img__tienda {
  background-image: url(../assets/img/Header\ Tienda.jpg);
}

.main {
  background-color: rgb(46, 22, 3);
}

section .tituloBienvenido {
  color: white;
  font-size: 3rem;
}
section .parrafoBienvenido {
  font-size: 1.8rem;
}

section .mapa {
  margin-top: 3vh;
  width: 100%;
}
section .localizacion {
  margin-top: 3vh;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-bottom: 3vh;
}
section .localizacion .subtitulo3 {
  padding-top: 1.5vh;
}

section .contenedorGaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section .contenedorGaleria .imagen img {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
section .tituloYt {
  color: white;
  font-size: 4rem;
}
@media (max-width: 767px) {
  section .tituloYt {
    text-align: center;
  }
}

section .listaContacto {
  color: white;
  font-size: 2.5rem;
  padding: 2vh;
}
section .botonEnviar {
  font-size: 2.2rem;
}

section .imagenServicios {
  background-image: url(../assets/img/ImagenServicio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}
section .cajaPrecios {
  height: 60vh;
}
section .cajaPrecios ul .listaCosto {
  font-size: 2.5rem;
  padding: 2vh;
}
@media (max-width: 576px) {
  section .cajaPrecios ul .listaCosto {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
}

.tienda {
  padding-right: 9vh !important;
}

.footer {
  background-color: rgb(68, 34, 5);
}
.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer .container .col-md-4 {
  width: 33.33%;
  padding: 0 15px;
}
.footer .container .col-md-4 .tituloNosotros {
  color: white;
  font-size: 2.3rem;
  padding-top: 5vh;
}
.footer .container .col-md-4 .parrafo1 {
  color: white;
  padding-top: 7vh;
  font-size: 1.5rem;
}
.footer .container .col-md-4 .divIconos {
  margin-left: 20%;
  margin-top: 5vh;
}
.footer .container .col-md-4 .divIconos .icono {
  font-size: 40px;
  color: orange;
  padding: 10px;
}
.footer .container .col-md-4 .tituloServicios {
  color: white;
  padding-top: 5vh;
  font-size: 2.3rem;
}
.footer .container .col-md-4 .ulServicios {
  padding-top: 5vh;
}
.footer .container .col-md-4 .ulServicios .listaServicios {
  color: white;
  list-style: none;
  font-size: 1.5rem;
}
.footer .container .col-md-4 .tituloConsultas {
  color: white;
  padding-top: 5vh;
  font-size: 2.3rem;
}
.footer .container .col-md-4 .ulConsultas {
  padding-top: 5vh;
}
.footer .container .col-md-4 .ulConsultas .listaConsultas {
  color: white;
  list-style: none;
  font-size: 1.5rem;
}
@media screen and (max-width: 576px) {
  .footer .container {
    flex-wrap: wrap;
  }
  .footer .container .col-md-4 {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .footer .container .tituloNosotros,
  .footer .container .parrafo1,
  .footer .container .tituloServicios,
  .footer .container .ulServicios,
  .footer .container .tituloConsultas,
  .footer .container .ulConsultas {
    padding-top: 2.5vh;
  }
  .footer .container .divIconos {
    margin-left: 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
