section{
    .imagenServicios{
        background-image: url(../assets/img/ImagenServicio.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
    }
    .cajaPrecios{
        height: 60vh;
        ul{
            .listaCosto{
                font-size: 2.5rem;
                padding: 2vh;
            }
            @media (max-width: 576px) {
                .listaCosto {
                    font-size: 2.2rem; 
                    margin-bottom: 10px;
                }
            }
        }
    }
}


