section{
    .listaContacto{
        color: white;
        font-size: 2.5rem;
        padding: 2vh;
    }
    .botonEnviar{
        font-size: 2.2rem;
    }
    .mapa{
        margin-top: 3vh;
        width: 100%;
    }
}

