$fuente-principal: 'Poppins', sans-serif;
$borde: 1px solid black;
$bg-color-main: rgb(46, 22, 3);
$bg-color-footer: rgb(68, 34, 5); 

/*El mapa lo use en _maingaleria*/
$map-flex:(
    flex: flex,
    wrap: wrap,
    centro: center
);

